*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*SIEMPRE PONERLO*/
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    overflow-x: hidden; /*para no mostrar la barra de desplazamiento */
}

:root{
    --main-color: rgb(50, 91, 131);
    --main-modal-color: rgba(24, 25, 27, 0.767);
    --color-letter: #eee
}

.header {
    background-color: var(--main-color);
   
    position: sticky;
    top: 0;
    padding: 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.342);
}

.header h1{
    text-align: center;
    color: var(--color-letter);
}

.section{
    padding: 2rem;
    padding-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-widht);
    min-height: 100vh;/*ocupara toda la pantalla de forma horizonal*/
    text-align: center;
}


.panel{
    background-color: var(--main-modal-color);
    position: fixed;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    width: 100%;

    z-index: 998;

    transition: transform 0.3s ease;
    transform: translate(0,-100%);

}

.panel.is-active{
    transform: translate(0,0);
}

.navegacion{
    width: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.navegacion a{
    width: inherit;
    padding: 1.5rem;
    display: block;
    color: var(--color-letter);
    text-decoration: none;
    font-size: 2rem;

    transition: background-color 300ms ease,
                        color 300ms ease,
                        font-weight 300ms ease;


}

.navegacion a:hover{
    font-weight: bold;
    background-color: var(--main-color);
}

.btn-menu{
    position: fixed;
    z-index: 999;

    bottom: 1vh;
    right: 1vw;

    width: 4rem;
    height: 4rem;

    padding: 0;

    border-radius: 50%;

    background-color: var(--main-color);

    display: flex;
    justify-content: center;
    align-items: center;
}